<h2><%= @tenant.name %></h2>

<% if can? :update, @tenant %>
  <p class="note"><%= link_to "edit my store", edit_tenant_path %> |  <%= link_to 'Create new loan request', new_loan_request_path %></p>
<% end %>
<p><%= @tenant.description %></p>

<div class="store">
  <h3>Loan Requests:</h3>
  <p class="cart-button"><%= link_to 'Take me to my cart!', cart_path %></p>

  <% cache @loan_requests do %>
    <div class="pagination">
      <%= will_paginate @loan_requests %>
      <%= render partial: 'tenants/loan_request', collection: @loan_requests %>
    <% end %>
  </div>

</div>
<div style="clear:both"></div>
